.blue_button{
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 47.88px;
  padding: 0 70px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background-color: #114e77;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.blue_button:hover {
  background-color: #0d4366;
}