.main {
  background-color: #fafafa;
  width: 100%; }

body {
  background-color: #ffffff; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }
