.menu{
	padding-top: 20px;
	background-color: #fff;
	text-align: center;
	.info-wrapper{
		.ant-affix{
			@media only screen and (max-width:767px){
				top: 0px !important;
			}
		}
		.restaurant{
			width: 95%;
			margin: auto;
			font-weight: bold;
			position: relative;
			&-wrapper{
				font-size: 20px;
				margin-bottom:30px;
				background-color: #fff;
				padding: 20px;
				text-align: left;
				-webkit-box-shadow: 0px 11px 16px 8px rgba(219,216,219,0.53);
				-moz-box-shadow: 0px 11px 16px 8px rgba(219,216,219,0.53);
				box-shadow: 0px 11px 16px 8px rgba(219,216,219,0.53);
				@media only screen and (max-width:767px){
					margin-bottom:10px;
				}
			}
		}
		.order_button{
			width: 200px;
			background-color: #124E78;
			color: white;
			border: none;
			padding: 8px;
			font-weight: bold;
			font-size: 15px;
			position: absolute;
			bottom: 0;
			right: 0;
			@media only screen and (max-width: 575px){
				width: max-content;
			}
		}
		.dishes{
			max-width: 1000px;
			margin: auto !important;
		}
	}
	.ant-tabs-card{
		.ant-tabs-nav-container{
			height: 50px !important;
		}
		.ant-tabs-content {
		  margin-top: 0;
		  .ant-tabs-tabpane {
			  
			  padding: 0;
			}
		}
		.ant-tabs-tab{
			height: 50px;
			width: 200px;
			padding-top: 5px !important;
			text-align: center;
			font-size: 15px;
			border-bottom: 1px solid #e8e8e8 !important;
			color: #245091;
			letter-spacing: 1px;
			font-weight: bold !important;

		}
		.ant-tabs-bar {
		  border-color: #e8e8e8;
		  margin: 0;
		}
		.ant-tabs-tab:hover {
    	color: #245091; 
		}
		.ant-tabs-tab-active {
    	color: #245091 !important;
    	border-bottom: none !important;
    }
	}
}
