.tiffin-plans section {
  padding: 30px; }

.tiffin-plans .restaurant-header {
  margin-bottom: 30px;
  padding: 10px;
  width: auto; }
  .tiffin-plans .restaurant-header .cover-image {
    background-image: url("http://res.cloudinary.com/dtqxwjmwn/image/upload/v1527821438/main.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0; }
  .tiffin-plans .restaurant-header .header-wrapper {
    display: table;
    border-spacing: 10px 0;
    margin-left: 20px; }
  .tiffin-plans .restaurant-header .logo {
    display: table-cell; }
    .tiffin-plans .restaurant-header .logo img {
      height: 100px; }
  .tiffin-plans .restaurant-header .info-wrapper {
    display: table-cell;
    vertical-align: top; }
  .tiffin-plans .restaurant-header .title {
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    margin-bottom: 0; }

.tiffin-plans .menu {
  border: 3px solid brown;
  width: 80%;
  margin: auto; }
  .tiffin-plans .menu-header {
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 25px; }
  .tiffin-plans .menu .dish-card {
    display: table;
    border-spacing: 10px 0; }
    .tiffin-plans .menu .dish-card .card {
      display: table-cell; }
    .tiffin-plans .menu .dish-card .title {
      font-weight: bold; }
    .tiffin-plans .menu .dish-card .day {
      display: table-cell; }

.tiffin-plans .order {
  width: 100%;
  text-align: center; }

.tiffin-plans .location {
  padding-top: 60px;
  padding-bottom: 10px; }
  .tiffin-plans .location .icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: black; }
  .tiffin-plans .location .address {
    font-weight: bold;
    color: black; }
